
/* font */
@font-face {
	font-family: Lora; src: url(fonts/Lora-Regular.ttf);
}

@font-face {
	font-family: Narkisim; src: url(../fonts/nrkis.ttf);
}

/* all */
html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, nav {
	font-family: Narkisim;
	text-transform: uppercase;
	color: #49589F;
}

header, footer {
	display: flex;
	background: #fff;
}

header h1, footer h1 {
	font-size: 2em;
	margin: auto 2%;
}

header a, footer a {
	font-size: 1.1em;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: #49589F;
}

 nav a:hover {
	color: #fff;
	text-shadow: #69b4d4 1px 1px 4px, #69b4d4 -1px 1px 4px, #69b4d4 1px -1px 4px, #69b4d4 -1px -1px 4px;
	transition: 0.3s;
}

/*section*/

/*footer*/
footer {
	justify-content: space-between;
	border-top: 2px solid white;
	margin-top: 25px;
}

footer p {
	margin: 0 2%;
}
